<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907295345432-2uh89o77hbc34mes157notc4an9aj21j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907295345432-2uh89o77hbc34mes157notc4an9aj21j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>907295345432-8vb82lefmfmbhqq26f7jdnf3pbnoht34.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDLWWC1prchAoFaD-mjh_lMSH3hqmGlUEw</string>
	<key>GCM_SENDER_ID</key>
	<string>907295345432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.innerpalette</string>
	<key>PROJECT_ID</key>
	<string>inner-palette</string>
	<key>STORAGE_BUCKET</key>
	<string>inner-palette.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907295345432:ios:e3605b15146942edb3ec6d</string>
</dict>
</plist>